@font-face {
  font-family:'Roboto';
  src:url(../fonts/roboto.woff) format ('woff'), url(../fonts/roboto.woff2) format ('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src:url(../fonts/robotomedium.woff) format('woff'), url(../fonts/robotomedium.woff2) format('woff2');
}

body {
  min-width: 768px;
  margin: 0;
  padding: 0;

  font: 700 16px/22px 'Roboto', 'Arial', sans-serif;


  background: #849d8f;
  color: #ffffff;
}

h2 {
  font-size: 35px;
  line-height: 41px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

img {
  width: 100%;
  height: auto;
}

.clearfix {
  content: '';

  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  margin-top: 10px;
}

.header-nav {
  width: 853px;
  float: left;
  margin-right: 26px;
}

/*======Главное Меню и общие стили хедера======*/

.header-nav ul {
  padding: 0;
  margin: 0;

  font-size: 0;
  list-style: none;
}

.header-nav li {
  display: inline-block;
  vertical-align: top;
  padding-top: 14px;

  font-size: 16px;
  line-height: 18px;

  padding-bottom: 10px;
}

.header-nav a {
  display: block;
  padding: 7px 11px 7px 14px;

  color: #ffffff;
}

.header-nav .index-logo {
  float: left;
  padding-top: 0;
  padding-right: 14px;

  background: none;
}

.index-logo img {
  width: 154px;
  height: 64px;
}

.header-nav .active-item:hover {
  padding: 7px 11px 7px 14px;

  color: #000000;
  text-decoration: none;

  background: #ffffff;
  border-radius: 15px;
}

.header-nav .active-item:active {
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105,105,105,1);
  -moz-box-shadow: inset 0px 2px 1px 0px rgba(105,105,105,1);
  box-shadow: inset 0px 2px 1px 0px rgba(105,105,105,1);;
}

 .sub-item {
  position: relative;
}

.header-nav .sub-menu {
  position: absolute;
  top: 51px;
  left: -7px;
  z-index: 999;

  display: none;
  width: 144px;
  padding: 4px 0 8px;
  margin: 0;

  color: #000000;

  background: #ffffff url(../img/line.png) no-repeat center 38px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);

}

.sub-menu li {
  display: block;
  padding: 0;
}

.sub-menu a {
  padding: 7px 22px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #000000;
  text-decoration: none;

}

.sub-menu .new-good {
  margin-bottom: 11px;
  font-weight: bold;

}

.sub-menu a:hover {
  background: #fbded7;
}

.sub-menu a:active {
  background: #f6b5a5;
}

.sub-item:hover .sub-menu {
  display: block;
}
/*======================*/


.user-block {
  max-width: 267px;
  float: right;
  padding-top: 13px;
}

.user-block a {
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}

.user-block  .search-btn {

  padding: 16px;
  margin: 0 10px 0 5px;

  font-size: 0;
  line-height: 0;

  background: rgba(255, 255, 255, 0.2) url(../img/sprite.png) no-repeat;
  background-position: -3px -406px;
  border-radius: 50%;
}

.user-block  .search-btn:hover {
  background: rgba(255, 255, 255, 1) url(../img/sprite.png) no-repeat;
  background-position: -3px -261px;
}

.user-block  .user-login {
  padding: 8px 16px 8px 43px;
  margin-right: 10px;

  background: rgba(255, 255, 255, 0.2) url(../img/sprite.png) no-repeat;
  background-position: 7px -299px;
  border-radius: 25px;
}

.user-block  .user-login:hover {
  color: #000000;

  background: rgba(255, 255, 255, 1) url(../img/sprite.png) no-repeat;
  background-position: 7px -369px;
}

.user-block .user-basket {
  padding: 8px 16px 8px 43px;

  background: rgba(255, 255, 255, 0.2) url(../img/sprite.png) no-repeat;
  background-position: 7px -652px;
  border-radius: 25px;
}

.header-contact {
  max-width: 267px;
  float: right;
  padding-top: 18px;

  text-align: right;
}

.header-contact p {
  margin: 0;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
}

.header-contact a {
  font-size: 22px;
  line-height: 24px;
  color: inherit;
  text-decoration: inherit;
}
/*==============================*/

/*=====Хлебные крошки=====*/
.breadcrumbs {
  width: 267px;
  float: left;
}
/*==============================*/
.slider-h {
  position: relative;

  width: 1146px;
  min-height: 500px;

  background: #849d8f;

}

.index-content {
  margin-bottom: 40px;
}

.index-content-left {
  width: 560px;
  float: left;
  margin-right: 26px;
}

.index-content-right {
  width: 560px;
  float: right;
}

.product-box {
  margin-bottom: 40px;
}

.product-item {
  width: 267px;
  float: left;
  margin-right: 26px;
}

.product-item:last-child {
  margin-right: 0;
}

.about-shop {
  width: 1146px;
  margin-bottom: 40px;
}

.map-box{
  position: relative;

  width: 1200px;
  margin: 0 auto;
  max-height: 436px;

}

.about-comp {
  position: absolute;
  top: 62px;
  right: 27px;

  background: #ffffff;
  color: #000000;
}

/*--Стили каталога--*/
figure {
  margin: 0;
}

.catalog-box {
  margin-bottom: 70px;
}

.catalog-line {
  width: 1146px;
  margin-bottom: 25px;
}

.catalog-line:after {
  content: '';

  display: table;
  clear: both;
}

.filter-item {
  display: inline-block;
  margin-right: 15px;
}

.catalog-item {
  width: 267px;
  float: left;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.btn-catalog_hover {
  display: none;
}

.paginator {
  margin-bottom: 25px;

  text-align: right;
}

.main-footer {
  padding: 20px 0 15px;
}

.footer-social {
  width: 267px;
  float: left;
  margin-right: 26px;
}

.footer-documents {
  width: 560px;
  float: left;
  margin-right: 26px;
  padding: 15px 0;

  text-align: center;
  vertical-align: middle;

  box-sizing: border-box;
}

.document-item {
  display: inline-block;
  padding: 0 10px;

  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.footer-documents a {
  display: block;
}



.footer-copyright {
  width: 267px;
  float: right;
}
